/* Change focus color to pink */
/* .custom-input:focus {
    border-color: pink;
    box-shadow: 0 0 0 0.2rem rgba(255, 182, 193, 0.25);
    Light pink shadow
} */

/* Custom color for labels */
.custom-input+label {
    color: pink;
}

/* Customize the submit button */
.btn-primary {
    background-color: #ed282a;
    border-color: pink;
}

.btn-primary:hover {
    background-color: #bd2a2d;
    border-color: #ff99cc;
}

#b1 {
    margin-top: 32px;
}